*{
    margin: 0;
}
.tools{
    display:flex;
    flex-wrap: wrap;
    flex-direction:row;
    justify-content: flex-start;

}
.block{
    text-align: center;
    width:600px;
    height: 450px;
    background: darkgrey;
    color:red;
    border: 2px solid black;
    margin: 7px 7px 7px 7px;
}
.tools1{
    display:flex;
    flex-wrap: wrap;
    flex-direction:row;
    justify-content: flex-start;

}
